@import 'bootstrap-custom';
@import 'variables';
@import 'mixins';
@import 'https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:300|Archivo+Narrow:700';

html {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 13pt;
    height: 100%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .title {
        background-color: $white;
    }
}

.top {
    @extend .parallax;
    background-image: url("../imgs/health-fair.jpg");
    height: 100%;
}

.me {
    @extend .parallax;
    background-position: right;
    background-size: contain;
    background-image: url("../imgs/bio.jpg");
}

.listening {
    height: 100%;
    background-image: url("../imgs/stethoscope.jpg");
}

.pressure {
    height: 100%;
    background-image: url("../imgs/cat.jpg");
}

.main-header {
    @extend .container-fluid;
    padding-top: 75px;
    // background-color: transparent;
    color: $white;
    min-height: 125px;

    header {
        display: inline-block;
        background: rgba(0,0,0,0.15);
    }

    h1.name {
        font-family: 'Adobe Garamond Pro', Garamond;
        font-size: 135px;
        padding: 0px 35px;

        a, a:visited, a:hover {
            text-decoration: none;
            color: $white;
        }
    }
    
    .nav-pills {
        font-size: 34px;
        a {
            color: $white;
        }
        
        a:hover {
            background-color: $brand-secondary;
            color: $white;
        }
    }

    .tag {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        text-transform: uppercase;
        color: darken($white, 8%);
    }
}

footer {
    &:before {
        content: '';
        position: relative;
        height: -6.5em;
        display: block;
    }

    @extend .container-fluid;

    padding-top: 2.5em;
    background-color: $black;
    color: $white;
    min-height: 6.5em; 
}

.nav {
    li {
        background-color: rgba(0,0,0,0.15);
        border-radius: 3px;
        margin: 10px 0px;

        a {
            color: $brand-primary;
        }
    }
}

.arc-red {
    // background: #ED1B2E;
    @include gradient-vertical(#ED182E, darken(#ED182E, 10%));
    color: #fff;
    padding: 0;
    margin-bottom: 35px;
}

.openemr {
    @include gradient-vertical($brand-secondary, darken($brand-secondary, 10%));
    color: #fff;
    padding: 0;
    margin-bottom: 35px;
}

.arc-red, .newman, .openemr {
    .col-md-5, .col-md-2 {
        padding-left: 0;
    }
    .col-md-6 {
        padding-right: 0;
    }
}

.newman {
    // background: #ED1B2E;
    @include gradient-vertical($brand-primary, darken($brand-primary, 2%));
    color: $white;
    padding: 0;
    margin-bottom: 35px;
}

.block-section {
    @extend .container-fluid;
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    // margin-top: 150px;

    header {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cline stroke='%23000000' x1='0' y1='55' x2='100' y2='55' stroke-miterlimit='1' /%3E%3C/svg%3E");
        // background-repeat: no-repeat;
        background-position: center;
        h1 {
            display: inline-block;
            background-color: $white;
            border: 1px solid #000000;
            font-family: 'Helvetica Neue', Helvetica, sans-serif;
            font-weight: 200;
            color: $gray-base;
            letter-spacing: 0.2em;
            padding: 15px 25px;
        }
    }

    &:before,
    &:after {
        content: "";
        display: block;
        height: 6.5em;
        position: relative;
        width: 100%;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    &:before {
        left: 0;
        top: -6.5em;
    }

    &:after {
        right:0;
        bottom: -6.5em;
        transform: scaleY(-1);
    }

    h1 {
        color: $brand-secondary;
        font-size: 2.25em;
        font-family: 'Archivo Narrow';
        text-transform: uppercase;
    }
}