@import 'bootstrap-custom';
@import 'variables';
@import 'mixins';
// @import 'materialize';
@import 'https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:300|Archivo+Narrow:700';

html {
    height: 100%;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 13pt;
    height: 100%;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .title {
        background-color: $white;
    }
}

.main-link {
    display: inline-block;
    background: rgba(0,0,0,0.55);
    border-radius: 8px;
    border: 2px solid rgba(255,255,255,0.25);
    margin-bottom: 20px;
    font-size: 120%;
    color: $white;
    padding: 25px;

    &:hover {
        background: $brand-primary;
        color: $white;
        text-decoration: none;
    }
}

.top {
    @extend .parallax;
    background-image: url("../imgs/health-fair.jpg");
    height: 100%;
}

.me {
    @extend .parallax;
    background-position: right;
    background-size: contain;
    background-image: url("../imgs/bio.jpg");
}

.listening {
    height: 100%;
    background-image: url("../imgs/stethoscope.jpg");
}

.pressure {
    height: 100%;
    background-image: url("../imgs/cat.jpg");
}

.main-header {
    padding-top: 75px;
    // background-color: transparent;
    color: $white;
    min-height: 125px;

    header {
        display: inline-block;
        background: rgba(0,0,0,0.15);
    }

    .name {
        font-family: 'Adobe Garamond Pro', Garamond;
        // font-size: 6em;
        // padding: 0px 35px;

        a, a:visited, a:hover {
            text-decoration: none;
            color: $white;
        }
    }
    
    .navigation-thing {
        font-size: 34px;
        a {
            color: $white;
        }
        
        a:hover {
            background-color: $brand-secondary;
            text-decoration: none;
            color: $white;
        }
    }

    .tag {
        font-family: 'Open Sans', sans-serif;
        font-size: 1.5em;
        text-transform: uppercase;
        color: darken($white, 8%);
    }
}

.plan {
    .number {
        color: $brand-secondary;
        text-transform: uppercase;
        font-variant: italicize;
    }
    h4 {
        color: $brand-primary;
    }

    .first {
        color: $brand-primary;
    }

    .then {
        color: $brand-secondary;
    }

    .finally {
        color: $brand-tertiary;
    }
}

footer {

    @extend .container-fluid;

    padding-top: 2.5em;
    background-color: $black;
    color: $white; 
}

.nav {
    li {
        background-color: rgba(0,0,0,0.15);
        border-radius: 3px;
        margin: 10px 0px;

        a {
            color: $brand-primary;
        }
    }
}

.arc-red {
    // background: #ED1B2E;
    @include gradient-vertical(#ED182E, darken(#ED182E, 10%));
    color: #fff;
    padding: 0;
    margin-bottom: 35px;
}

.openemr {
    @include gradient-vertical($brand-secondary, darken($brand-secondary, 10%));
    color: #fff;
    padding: 0;
    margin-bottom: 35px;
}

.newman {
    // background: #ED1B2E;
    @include gradient-vertical($brand-primary, darken($brand-primary, 2%));
    color: $white;
    padding: 0;
    margin-bottom: 35px;
}

.block-section {
    // padding: 0px;
    // margin-left: 0px;
    // margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 80px;

    header {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        top: -70px;
        
        
    }

    h1 {
        // font-family: 'Helvetica Neue', Helvetica, sans-serif;
        // font-weight: 200;
    }

    h1 {
        font-size: 2.125em;
        font-family: 'Helvetica Neue', Helvetica, sans-serif;
        font-weight: 200;
        // font-family: 'Archivo Narrow';
        text-transform: uppercase;
        color: $black;
        border-bottom: 4px double $black;
        // background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'%3E%3Cline stroke='%23000000' x1='0' y1='55' x2='100' y2='55' stroke-miterlimit='1' /%3E%3C/svg%3E");
        // // background-repeat: no-repeat;
        // background-position: center;
    }
}