{% extends "base.html" %} {% block content %}


<div class="block-section hidden">
    <div class="container">
        <div class="col-xs-12">
            <ul class="list-unstyled center-block">
                <li>
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-inverse fa-stack-1x"></i>
                    </span>
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-inverse fa-stack-1x"></i>
                    </span>
                </li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>



<div class="parallax-container">
    <div class="parallax">
        <img src="{{SITEURL}}/theme/imgs/fair.jpg" alt="">
    </div>
</div>



<div class="block-section row">
    <header class="col s12 text-center">
        <h1>Academic Experience</h1>
    </header>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="{{SITEURL}}/theme/imgs/sbp.png" class="responsive-img" alt="">
            </div>
            <div class="card-content">
                <span class="card-title">Research Intern</span>
                <p>Metabolic Signaling and Disease Program<br/>Diabetes and Obesity Research Center</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="{{SITEURL}}/theme/imgs/adu.png" class="responsive-img" alt="">
            </div>
            <div class="card-content">
                <span class="card-title">Baccalaureate Nursing Student</span>
                <p>Department of Nursing</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card small">
            <div class="card-image">
                <img src="{{SITEURL}}/theme/imgs/selu.png" class="responsive-img" alt="">
            </div>
            <div class="card-content">
                <span class="card-title">Software Development Intern</span>
                <p>Computer Services Department</p>
            </div>
        </div>
    </div>
</div>



<div class="parallax-container">
    <div class="parallax">
        <img src="{{SITEURL}}/theme/imgs/costa_rica.jpg" alt="">
    </div>
</div>



<div class="container-fluid">
    <div class="col-md-6">
        <div class="block-section">
            <header class="col-md-12 text-center">
                <h1>Licensure and Certification</h1>
            </header>
            <div class="col-md-4 text-center">
                <img src="{{SITEURL}}/theme/imgs/aha.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-4 text-center">
                <img src="{{SITEURL}}/theme/imgs/fema_emi.png" alt="" class="img-responsive">
            </div>
            <div class="col-md-4 text-center">
                <img src="{{SITEURL}}/theme/imgs/fl_doh.png" alt="" class="img-responsive">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="block-section">
            <header class="col-xs-12 text-center">
                <h1>Professional Organizations</h1>
            </header>
            <div class="col-xs-12 col-md-6 text-center">
                <img src="{{SITEURL}}/theme/imgs/sna.png" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-md-6 text-center">
                <img src="{{SITEURL}}/theme/imgs/ana.png" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-md-6 text-center">
                <img src="{{SITEURL}}/theme/imgs/fnsa.png" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-md-6 text-center">
                <img src="{{SITEURL}}/theme/imgs/nsna.jpg" alt="" class="img-responsive">
            </div>
        </div>
    </div>
</div>


<div class="block-section">
    <header class="col-xs-12 text-center">
        <h1>Community Outreach</h1>
    </header>
</div>
<div class="block-section">
    <header class="col-xs-12 text-center">
        <h1>Invited Speaker</h1>
    </header>
</div>
<div class="block-section">
    <header class="col-xs-12 text-center">
        <h1>Boards and Committees</h1>
    </header>
</div>

<div class="block-section">
    <div class="col-xs-12 text-center" id="platform"><h1>Platform</h1></div>
    <div class="col-xs-12 col-md-6 col-md-offset-3">Increase scholarship funding</div>
    <div class="col-xs-12 col-md-6 col-md-offset-3">Engage local, state, federal, and international parnters</div>
    <div class="col-xs-12 col-md-6 col-md-offset-3">Increase funding for outreach programs</div>
    <div class="col-xs-12 col-md-6 col-md-offset-3">Soemthing else</div>
</div>

{% endblock %}