{% extends "base.html" %} {% block content %}


<div class="block-section hidden">
    <div class="container">
        <div class="col-xs-12">
            <ul class="list-unstyled center-block">
                <li>
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-inverse fa-stack-1x"></i>
                    </span>
                    <span class="fa-stack fa-5x">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-inverse fa-stack-1x"></i>
                    </span>
                </li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>



<div class="parallax-container">
    <div class="parallax">
        <img src="{{SITEURL}}/theme/imgs/convention-2016.jpg" alt="">
    </div>
</div>



<div class="block-section row">
    <h1 class="text-center">Academic Experience</h1>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="{{SITEURL}}/theme/imgs/sbp.png" class="responsive-img" alt="">
            </div>
            <div class="card-content">
                <span class="card-title">Research Intern</span>
                <p>Metabolic Signaling and Disease Program<br/>Diabetes and Obesity Research Center</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="{{SITEURL}}/theme/imgs/adu.png" class="responsive-img" alt="">
            </div>
            <div class="card-content">
                <span class="card-title">Baccalaureate Nursing Student</span>
                <p>Department of Nursing</p>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                <img src="{{SITEURL}}/theme/imgs/selu.png" class="responsive-img" alt="">
            </div>
            <div class="card-content">
                <span class="card-title">Software Development Intern</span>
                <p>Computer Services Department</p>
            </div>
        </div>
    </div>
</div>



<div class="parallax-container">
    <div class="parallax">
        <img src="{{SITEURL}}/theme/imgs/advocacy.jpg" alt="">
    </div>
</div>



<div class="">
<div class="row">
    <div class="col m6 s12">
        <div class="block-section">
            <h1 class="text-center">Licensure and Certification</h1>
            <div class="col s12 m6 center">
                <img src="{{SITEURL}}/theme/imgs/fema_emi.png" alt="" class="responsive-img">
            </div>
            <div class="col s12 m6 center">
                <img src="{{SITEURL}}/theme/imgs/fl_doh.png" alt="" class="responsive-img">
            </div>
            <div class="col s12 center">
                <img src="{{SITEURL}}/theme/imgs/aha.png" alt="" class="responsive-img">
            </div>
        </div>
    </div>
    <div class="col m6 s12">
        <div class="row">
            <h1 class="flow-text text-center">Professional Organizations</h1>
            <div class="row">
                <div class="col s6 center">
                    <img src="{{SITEURL}}/theme/imgs/sna.png" alt="" height="250" class="responsive-img">
                </div>
                <div class="col s6 center">
                    <img src="{{SITEURL}}/theme/imgs/fnsa.png" alt="" height="250" class="responsive-img">
                </div>
            </div>
            <div class="row">
                <div class="col s6 center">
                    <img src="{{SITEURL}}/theme/imgs/ana.png" alt="" height="250" class="responsive-img">
                </div>
                <div class="col s6 center">
                    <img src="{{SITEURL}}/theme/imgs/nsna.jpg" alt="" height="250" class="responsive-img">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="row">
    <h1 class="text-center">Invited Speaker</h1>
     <div class="col s12 m8 offset-m2">
        <div class="card horizontal">
            <div class="card-image hide-on-small-only">
                <img src="{{SITEURL}}/theme/imgs/speaker.jpg" class="responsive-img">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <h1>2015</h1>
                    <h4>Global Nursing on a Mission</h4>
                    <h5>Florida Nursing Student Association Convention<br/>Annual&nbsp;Convention</h5>
                </div>
            </div>
        </div>
  </div>
</div>

<div class="block-section row">
    <h1 class="text-center">Boards and Committees</h1>
    <div class="col s12 m6 offset-m3">
        <ul>
            <li>
                <h3>OEMR, Inc</h3>
                <h4>Board of Directors, Secretary</h4>
            </li>
            <hr>
            <li>
                <h3>Adventist University Nusing Students' Association</h3>
                <h4>Legislative Committee Chair</h4>
            </li>
            <hr>
            <li>
                <h3>Florida Nursing Student Association</h3>
                <h4>Legislative and Political Action Committee Member</h4>
            </li>
        </ul>
    </div>
</div>

<div class="block-section row plan" id="plan">
    <h1 class="text-center">The Plan</h1>
    <div class="col s12 m4">
        <div class="card jarge">
            <div class="card-image first center">
                <i class="fa fa-chevron-circle-up fa-5x">&nbsp;</i>
                <i class="fa fa-money fa-5x">&nbsp;</i>
            </div>
            <div class="card-content center">
                <h3>First,</h3>
                <h5>increase scholarhip opportunities and funding throughout the state</h5>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card smalljarge">
            <div class="card-image then center">
                <i class="fa fa-globe fa-5x">&nbsp;</i>
                <i class="fa fa-handshake-o fa-5x">&nbsp;</i>
            </div>
            <div class="card-content center">
                <h3>Then,</h3>
                <h5>engage local, state, federal<br/>and international service parnters</h5>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card smalljarge">
            <div class="card-image finally center">
                <i class="fa fa-heart fa-5x">&nbsp;</i>
                <i class="fa fa-child fa-5x">&nbsp;</i>
            </div>
            <div class="card-content center">
                <h3>Finally,</h3>
                <h5>bolster the community<br/>engagement and advocacy of FNSA</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}